.profile-container {
  width: 75%;
  margin: auto;
}
.coverimg-profile-container {
  position: relative;
  text-align: center;
}
.coverimg-profile {
  width: 95%;
  height: 400px;
  border-radius: 10px;
  
}
.coverimg-profile-btn {
  position: absolute;
  top: 340px;
  right: 60px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.coverimg-profile-btn:hover {
  background-color: rgba(255, 255, 255, 0.667);
  transition: 0.5s;
}
.img-profile-container {
  position: relative;
  display: flex;
  flex-direction: row;
}
.img-profile {
  margin-top: -35px;
  margin-left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  border: 1px solid;
  padding: 1px;
}
.img-profile-edit {
  position: absolute;
  color: #fff;
  margin-left: 200px;
  margin-top: 120px;
  background-color: rgba(0, 0, 0, 0.542);
  border-radius: 20px;
  padding: 7px;
  cursor: pointer;
}
.img-profile-edit:hover {
  background-color: rgba(0, 0, 0, 0.734);
  transition: 0.2s;
}
.img-profile-content-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
  padding-left: 20px;
}
.img-profile-name {
  text-align: left;
  color: #fff;
}
.img-profile-friends {
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
}
.img-profile-friends-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.img-profile-friends-img {
  border: 1px solid;
  border-radius: 45px;
  height: 40px;
  width: 40px;
}
.hrLine {
  margin-block: 20px;
  border: 1px solid #8c8b8b4e;
}
.img-profile-content-btn {
  display: flex;
  gap: 10px;
  height: max-content;
  margin-left: 10px;
}
.img-profile-content-btn1 {
  display: flex;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #1877f2;
  border: none;
  color: #fff;
  margin-top: 120px;
  width: 120px;
  justify-content: center;
  cursor: pointer;
}
.img-profile-content-btn1:hover {
  background-color: #1876f256;
  transition: 0.2s;
}
.img-profile-content-btn2 {
  display: flex;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #373733;
  border: none;
  color: #fff;
  margin-top: 120px;
  width: 120px;
  justify-content: center;
  cursor: pointer;
}
.img-profile-content-btn2:hover {
  background-color: #37373350;
  transition: 0.2s;
}
.img-profile-content-btn3 {
  display: flex;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #2b632b;
  border: none;
  color: #fff;
  margin-top: 120px;
  width: 120px;
  justify-content: center;
  cursor: pointer;
}
.img-profile-content-btn3:hover {
  background-color: #37373350;
  transition: 0.2s;
}
.img-profile-content-btn4 {
  display: flex;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #882020;
  border: none;
  color: #fff;
  margin-top: 120px;
  width: 120px;
  justify-content: center;
  cursor: pointer;
}
.img-profile-content-btn4:hover {
  background-color: #37373350;
  transition: 0.2s;
}
.primaryBtn-container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding-top: 10px;
}
.primaryBtn-container-inner{
  max-width: fit-content;
  max-height: fit-content;
}
.primaryBtn-container-inner2 {
  margin-right: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
  height: max-content;
}
.primaryBtn {
  border: none;
  background-color: transparent;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
  color: rgb(161, 160, 160);
}
.primaryBtn:hover {
  background-color: #373733;
}
.threeDots {
  background-color: #373733;
  border: none;
  width: 30px;
  height: 15px;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  padding: 3px;
  font-size: 16px;
}

.threeDots:hover {
  background-color: #37373350;
  transition: 0.2s;
}
.activeProfile {
  color: #3f72d7;
  border-bottom: 2px solid #3f72d7;
}

.uploadProfileCover{
  display: none;
}

@media screen and (max-width: 1010px) {
  .primaryBtn{
    padding: 10px;
  }
}

@media screen and (max-width: 800px) {
  .primaryBtn{
    padding: 5px;
  }
}
@media screen and (max-width: 600px) {
  .primaryBtn{
    padding: 0;
  }
}